@import "tailwindcss";

@font-face {
    font-family: geoform;
    src: url(/fonts/Geoform-Medium.otf);
}
@font-face {
    font-family: sakire;
    src: url(/fonts/Soligant.ttf);
    /* src: url(/fonts/Sakire.ttf); */
}
@font-face {
    font-family: dyslexic;
    src: url(/fonts/OpenDyslexic-Bold.otf);
}
.geoform{
    font-family: geoform;
}
.sakire{
    font-family: sakire;
}
*{

    box-sizing: border-box;
}
body{
    overflow: hidden;
}